<h1>Recent Questions</h1><br>


    <% @questions.each do |question| %>
      
      
      <div class="panel panel-primary">
        <div class="panel-heading"><strong>
          <%= question.content %>
        </strong></div>
        <div class="panel-body">look at all these details</div>
        <div class="panel-footer">from <%= question.user.email %> on <%= question.created_at.strftime("%m/%d/%Y") %></div>
      </div>
      
      
    <% end %>


<br>

<%= link_to 'Ask A Question', new_question_path %>
