<h1>About CollQuora</h1>
<p>Our goal is to make intra-university communication easier through creating a public forum for internal student concerns and complaints.</p>
<!--partial for ya bitch ass <%= render "fettytext" %>-->