<div class="jumbotron">
  <h1><i class="fa fa-pause-circle-o"></i> CollQuora</h1>
  <p>Communicate with University Officials from In House</p>
  <%= link_to "sign up", "#", class:"btn btn-primary btn-lg" %>
</div>